<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
  </head>
  <body>
    {{ content_for_notifications }}

    {% section 'header' %}

    <main role="main">
      {% if template == 'index' %}
        {% section 'index' %}
      {% else %}
        {{ content_for_layout }}
      {% endif %}
    </main>

    {% section 'footer' %}

    {{ content_for_footer }}
  </body>
</html>
